div#activity {
	margin: .5em;
}

div#checkin {
	text-align: right;
}

div#user {
	text-align: right;
}

div.checkin {
	margin: 1px;
	background-color: lightblue;
}

div.timeout {
	margin: 1px;
	background-color: red;
}

p.salute {
	text-align: right;
}