<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    	<servlet>
		<servlet-name>emailRecipientConfirmationServlet</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.EmailRecipientConfirmationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>emailRecipientConfirmationServlet</servlet-name>
		<url-pattern>/vigilance/confirmation/email/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>timeoutServlet</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.TimeoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>timeoutServlet</servlet-name>
		<url-pattern>/vigilance/timeout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/vigilance/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>activityService</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.ActivityServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>activityService</servlet-name>
		<url-pattern>/vigilance/activity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>recipientService</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.RecipientServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>recipientService</servlet-name>
		<url-pattern>/vigilance/recipient</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>channelService</servlet-name>
		<servlet-class>net.brainvitamins.vigilance.server.ChannelServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>channelService</servlet-name>
		<url-pattern>/vigilance/channel</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<!-- <welcome-file>landing.jsp</welcome-file> -->
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>