<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">

	<!-- Servlets -->
	<!-- <servlet> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <servlet-class>net.brainvitamins.presencepoll.server.GreetingServiceImpl</servlet-class> -->
	<!-- </servlet> -->

	<!-- <servlet-mapping> -->
	<!-- <servlet-name>greetServlet</servlet-name> -->
	<!-- <url-pattern>/presence_poll/greet</url-pattern> -->
	<!-- </servlet-mapping> -->

	<servlet>
		<servlet-name>checkinServlet</servlet-name>
		<servlet-class>net.brainvitamins.timeout.server.CheckinServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkinServlet</servlet-name>
		<url-pattern>/hellohello/checkin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>timeoutServlet</servlet-name>
		<servlet-class>net.brainvitamins.timeout.server.TimeoutServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>timeoutServlet</servlet-name>
		<url-pattern>/hellohello/timeout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>loginService</servlet-name>
		<servlet-class>net.brainvitamins.timeout.server.LoginServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginService</servlet-name>
		<url-pattern>/hellohello/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>activityService</servlet-name>
		<servlet-class>net.brainvitamins.timeout.server.ActivityServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>activityService</servlet-name>
		<url-pattern>/hellohello/activity</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<!-- <welcome-file>landing.jsp</welcome-file> -->
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

</web-app>
